# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Build products
buildServer.json
build/
DerivedData/
*.app
*.dSYM
*.ipa
*.xcarchive

# Swift Package Manager
/.build/
/Packages/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Trashes
.Spotlight-V100
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.apdisk

# Editor/IDE
*.swp
*.swo
*.idea/
.vscode/

# Logs
*.log

# Certificates and keys (never commit!)
*.p12
*.mobileprovision

